[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://aws:${CODEARTIFACT_AUTH_TOKEN}@data-engineering-793362518373.d.codeartifact.us-west-2.amazonaws.com/pypi/data_engineering/simple/"
verify_ssl = true
name = "data_engineering"

[packages]
"greenstreet_utils[markdown]" = {version="==0.0.405", index="data_engineering"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
